body, html {
 position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
  margin: 120;
  padding: 0;
  font-family: 'Roboto', sans-serif;
background:url(interface.jpg);
background-size: absolute;
}
#header{
background-image:url(back2.gif);
background-size: cover;
color:white;
position:absolute;
top:0;
height:10%;
width:100%;
display:block;
font-family:Comic Sans MS;
margin: 0 auto;
opacity:0.8;
box-shadow: 0px 0px 10px 0px lightgrey;
}
.wrapper {
  width: 430px;
  margin: 0 auto;
  height: 100%;
  padding-top: 0px;
}
#quiz:hover{
opacity:0.8;
background-image:url(back2.gif);
background-size:cover;
}
#quiz {
  background-color: #1a1a1a;
  padding-bottom: 60px;
  width: 100%;
  border-radius: 2%;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px 0px black;
opacity:0.6;
background-color:black;

}

#quiz > h1 {
  text-align: auto;
  padding-top: 25px;
  font-size: 20px;
}

.questions {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding: 20px;
}

.answers div {
  padding: 10px 0 0 0;
  font-size: 16px;
}

.answers div:hover {
  cursor: pointer;
  color: #1ac6ff;
font-weight:bold;
font-size:16px;
}

.answers {
  padding: 0px 0 10px 0px;
}

.answers div {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-top: 1px solid grey;
}

.answers div:first-child {
  border: none;
}

.checker {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}

.correct, .false {
  background-color: #109D59;
  width: 60px;
  height: 30px;
  line-height: 30px;
  padding-left: 4px;
  float: left;
  margin-left: 2px;
  margin-top: 2px;
}

.false {
  background-color: #DC4437;
}
#footer{
position:absolute;
bottom:0;
color:white;
background-color:black;
height:5%;
width:100%;
font-family:Comic Sans MS;
margin: 0 auto;
background-image:url(back2.gif);
opacity:0.8;
box-shadow: 0px 0px 10px 0px lightgrey;
}
#reset{
 background-color: white;
    color:black;
    border: 1px solid grey;
    border-radius:20px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    align: center;

}
#reset:hover, #reset:active {
    background-color:#1a1a1a;
    color: #1ac6ff;
 border: 1px solid black;
    border-radius:15px;
padding:5px 5px;
align: center;

}
#logout{
background-color:white;
	color:black;
	border:2px solid;
	border-radius:15px 50px;
	position: relative;
    background-color:red;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
	font-weight:bolder;
}
#logout:hover{
background-color:black;
	color:red;
	font-weight:bold;
	font-size: 18px;
}
}